@using Microsoft.AspNetCore.Components.Authorization;

<CascadingAuthenticationState>  @*Propage l'état d'authenfication du user dans toute l'application*@
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"> @*Permet de gérer l'état du user*@
                @* <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" /> *@
                <Authorizing>
                    <p>Autorisation en cours...</p>
                </Authorizing>
                <NotAuthorized>
                    <DemoWebAssembly.Pages.Auth.RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
   

    </Router>
</CascadingAuthenticationState>
